body {
    font-family: 'Arial', sans-serif;
    background-color: #f7e1da;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.message-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #e84956;
    font-size: 24px;
    margin: 0;
}